# Environments
dit-env/
venv/
.env

# Root-level Data (The 11GB dataset)
/data/
/processed_data/
/test_out/
/checkpoints/

# Python artifacts
__pycache__/
*.pyc

# Cluster / Container files
*.sif
*.tar.gz
/logs/

# System files
.DS_Store
Thumbs.db

#log files
*.log   
wandb/

# sweep files
*.csv

#files to ignore for submission
README.md
check.py